html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid red; */
}

.body {
  color: black;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* outline: 2px solid blueviolet; */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  /* outline: 1px solid purple; */
  margin-left: auto;
  margin-right: auto;
}

.li {
  display: inline-block;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
