.table_header {
  width: 100%;
}

.table_header_row {
  background-color: rgb(34, 108, 247);
}

.table_header_column {
  text-align: center;
  text-align: center;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: grey;
  margin: auto;
  width: 200px;
}
.table_row_odd {
  background-color: rgb(243, 247, 245);
}

.table_row_even {
  background-color: rgb(99, 247, 173);
}
